* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background: radial-gradient(circle, rgb(255, 162, 0) 0%, #ff5500b0 100%); */
  background-size: 100vw 100vh;
  background: linear-gradient(334deg, #000000, #00b7ff, #000000);
  background-attachment: fixed;
  background-size: 400% 180%;
  animation: gradient-animation 11s ease infinite;
}

h1 {
  color: #007bff;
}

.switch-div {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.switch-div a {
  text-decoration: none;
  padding: 5px 20px;
  width: 150px;
  color: rgb(0, 0, 0);
  transition: background-color 0.2s ease;
}
.switch-div a:hover {
  background-color: rgba(58, 58, 58, 0.162);
}
.dark-left {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255) 50%,
    rgb(72, 176, 255) 50%
  );
}
.dark-right {
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgb(72, 176, 255) 50%
  );
}

.main-div {
  text-align: left;
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  max-width: 50%;
  min-width: 400px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}
.styled-textarea {
  min-width: 100%;
  max-width: 600px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  resize: vertical; /* Allows vertical resizing */
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.styled-textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none; /* Removes default outline */
}

.textarea-label {
  margin: 0px 0px;
  font-weight: bold;
  display: block;
  color: #555;
}

/* **************** */
input[type="file"] {
  margin-top: 20px;
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

textarea,
.limit-input,
button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.output-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.output-buttons button {
  flex: 1 1 calc(50% - 10px);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.output-buttons button:hover {
  background-color: #0056b3;
}
.output-buttons button.copied {
  background-color: #28a745; /* Green color for copied buttons */
}

@media (max-width: 768px) {
  .main-div {
    max-width: 90%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
